/* seteo */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.black{ 
  background-color: black;
  height: 3vh;
}

img[alt="logo"]{
  height: 8vh;
  width: 12vw;
}

.tam{
  height: 12vh;
  width: 10vw;
}

.img-carousel{
  height: 65vh;
}


/* .content{
  display: flex;
  flex-wrap: wrap;
  overflow: auto
} */


@media screen and (min-width:991px){
  
  img[alt="logo"]{
    height: 10vh;
    width: 6vw;
  }

}